<div class="card">
<article class="post">
  <div class="title">
    <h5 class="card-header">{{title}}</h5>
  </div>
  <div>
    <p>{{post_content}}</p>
  </div>
  <div class="meta">
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
  </div>
</article>
</div>
